
<div class="column is-three-quarters-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd">
  <h3 class="is-size-5">Sign Up</h3><br>
  <p><% if flash.has?(:message) %>
    <%= flash[:message] %>
  <% end %></p><br>
  <form action="/signup" method="POST">
  <div class="field">
    <div class="control">
      <input class="input is-primary" type="text" name="username" placeholder="Username:">
    </div>
  </div>
  <div class="field">
    <div class="control">
      <input class="input is-info" type="text" name="email" placeholder="Email:">
    </div>
  </div>
  <div class="field">
    <div class="control">
      <input class="input is-info" type="password" name="password" placeholder="Password:">
    </div>
  </div>
  <input class="button has-background-success" type="submit" value="Sign Up">
  </form>
</div>
