
<h3 class="is-size-5">Log In</h3>
  <div class="container">
    <form action="/login" method="POST">
    <div class="field">
      <div class="control">
        <input class="input is-primary" type="text" name="username" placeholder="Username:">
      </div>
    </div>
    <div class="field">
      <div class="control">
        <input class="input is-info" type="text" name="email" placeholder="Email:">
      </div>
    </div>
    <div class="field">
      <div class="control">
        <input class="input is-info" type="password" name="password" placeholder="Password:">
      </div>
    </div>
    <input class="button has-background-success" type="submit" value="Log In">
    </form>
  </div>
