

<h3>Add an anime to your collection</h3>
  <div class="container">
    <form action="/shows" method="POST">
    <div class="field">
      <div class="control">
        <input class="input is-primary" type="text" name="title" placeholder="Title">
      </div>
    </div>
    <div class="field">
      <div class="control">
        <input class="input is-info" type="text" name="score" placeholder="Score">
      </div>
    </div>
    <input class="button is-primary" type="submit" value="submit">
    </form>
  </div>
