

  <div class="column is-three-quarters-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd">
    <h3 class="is-size-5">Add an anime to your collection</h3><br>
    <form action="/shows" method="POST">
    <div class="field">
      <div class="control">
        <input class="input is-primary" type="text" name="title" placeholder="Title:">
      </div>
    </div>
    <div class="field">
      <div class="control">
        <input class="input is-info" type="text" name="score" placeholder="Score">
      </div>
      <div class="field">
      <div class="control">
        <br><h4 class="is-size-6"><strong>Status:</strong></h3>
          <input class="input button is-info is-small has-background-success" type="radio" name="status" value="watched">
          <input class="input button is-info is-small is-inverted has-background-warning" type="radio" name="status" value="progress">
          <input class="input button is-info is-small is-inverted has-background-danger" type="radio" name="status" value="wishlisted">
          <input class="input button is-info is-small has-background-dark" type="button" name="radio" value="dropped">
      </div>
    </div>
    <input class="button has-background-success" type="submit" value="Add">
    </form>
  </div>
