<h3>Write something!</h3>
<form action="/shows" method="POST">
  <input type="text" name="title" placeholder="something">
  <input type="text" name="score" placeholder="score">

  <input type="submit" value="submit">
</form>
