

  <div class="column is-three-quarters-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd">
    <h3 class="is-size-5">Add an anime to your collection</h3><br>
    <form action="/shows" method="POST">
    <div class="field">
      <div class="control">
        <input class="input is-primary" type="text" name="title" placeholder="Title:">
      </div>
    </div>
    <div class="field">
      <div class="control">
        <input class="input is-info" type="text" name="score" placeholder="Score">
      </div>
      <div class="field">
        <br><h4 class="is-size-6"><strong>Status:</strong></h3>
        <div class="control">

          <label class="radio">
            <label><input class="radio" type="radio" name="status" value="watched"> Watched</label><br>
            <label><input class="radio" type="radio" name="status" value="progress"> In Progress</label><br>
            <label><input class="radio" type="radio" name="status" value="wishlisted"> In Wishlist</label><br>
            <label><input class="radio" type="radio" name="status" value="dropped"> Dropped</label><br>
          </label>
        </div>
      </div>
    <input class="button has-background-success" type="submit" value="Add">
    </form>
  </div>
