<h4>Welcome, <%=current_user.username.capitalize %></h4>

<% Show.all.each do |show| %>
<ul>
    <li><strong><%= show.title %></strong></li>
  <label>Score:</label>
  <strong><%= show.score %></strong><br>
</ul>
  <% end %>
