
<section class="section">

  <% if logged_in? %>
  <h3 class="is-size-4"><strong>Welcome to アニトラ anime tracker, <%=current_user.username.capitalize %></strong></h3><br>
  <% else %>
  <h3 class="is-size-4"><strong>Welcome to アニトラ anime tracker</strong></h3><br>
  <h3 class="is-size-5"><strong>Please <a href="/login">log in</a> or <a href="/signup">sign up</a> to continue</strong></h3><br>
  <% end %>

</section>
