<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Anitra Anime Tracker</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <title>Anitra Anime Tracker</title>
  </head>
  <body>
    <section class="section">
      <div class="has-background-danger">
        <div class="container is-fluid">
          <% if logged_in? %>
          <a href="/shows"><h1 class="title" style="color: #fff;">アニトラ anime tracker</h1></a>
          <a class="button is-link" href="/shows/new">Add a Show</a><br>
          <a class="button is-link" href="/shows"> See all shows </a>
          <% else %>
          <a href="/"><h1 class="title" style="color: #fff;">アニトラ anime tracker</h1></a>
          <% end %>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="has-background-primary">
        <div class="container is-fluid">
        <%= yield %>
        </div>
      </div>
    </section>
  </body>


  </body>
</html>
