<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Anitra Anime Tracker</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <title>Anitra Anime Tracker</title>
  </head>
  <body>
    <section class="section">
      <div class="container is-fluid" style="background-color: #fe53bb;">
        <h1 class="title" style="color: #fff;">アニトラ anime tracker</h1>
        <% if logged_in? %>
        <a href="/shows/new">Add a Show</a><br>
        <a href="/shows"> See all shows </a>
        <% end %>
      </div>
    </section>

    <section class="section">
      <div class="container is-fluid" style="background-color: #08f7fe;">
      <%= yield %>
      </div>
    </section>
  </body>


  </body>
</html>
