<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Anitra Anime Tracker</title>
    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
  </head>
  <body>
    <section class="section">
      <% if logged_in? %>
      <nav class="navbar is-danger">
        <div class="navbar-brand">
          <a class="navbar-item" href="/shows">
            <strong>アニトラ anime tracker</strong>
          </a>
        </div>

        <div class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="/shows/new">
              Add a Show
            </a>

            <a class="navbar-item" href="/shows">
              See all Shows
            </a>
          </div>

          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-primary" href="/logout">
                  <strong>Log Out</strong>
                </a>
              </div>
            </div>
          </div>
        </nav>
      <% else %>
      <nav class="navbar is-danger">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <strong>アニトラ anime tracker</strong>
          </a>
        </div>

          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-primary" href="/login">
                  <strong>Log In</strong>
                </a>
                <a class="button is-primary" href="/signup">
                  <strong>Sign Up</strong>
                </a>
              </div>
            </div>
          </div>
        </nav>
      <% end %>
        </div>
      </div>

      <section class="has-background-primary">
        <%= yield %>
      </section>
    </section>
  </body>

</html>
