<!doctype html>
<html>
  <head>
    <title>Anitra Anime Tracker</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

    <div class="container">
      <center style="width: 100%; background-color: #fe53bb;">
      <h1 style="color:white; font-family:courier; text-align:left; padding: 1em 1em; margin=10">アニトラ anime tracker</h1>
      <% if logged_in? %>
      <a href="/shows/new" style="color:white">Add a Show</a><br>
      <a href="/shows" style="color:white"> See all shows </a>
      <% end %>
      <%= yield %>


    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
