<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Anitra Anime Tracker</title>
    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
  </head>

  <body>
    <section class="section">
      <div class="has-background-danger">
        <div class="container is-fluid">
          <% if logged_in? %>

          <nav class="navbar">

            <div class="navbar-brand">
              <a href="/shows"><h1 class="title has-text-centered navbar-item">アニトラ anime tracker</h1></a>
            </div>
            <div class="navbar-menu">
              <div class="navbar-start">
                <a class="button is-link navbar-item" href="/shows/new">Add a Show</a>
                <a class="button is-link" href="/shows"> See all shows </a>
              </div>
            </div>

            <div class="navbar-end">
              <div class="navbar-item">
                <div class="buttons">
                  <a class="button is-warning" href="/logout">
                    <strong>Log Out</strong>
                  </a>
                </div>
              </div>
            </div>

          </nav>
          <% else %>
          <a href="/"><h1 class="title has-text-centered" style="color: #fff;">アニトラ anime tracker</h1></a>
          <% end %>
        </div>
      </div>

      <div class="has-background-primary">
        <div class="container is-fluid">
        <%= yield %>
        </div>
      </div>
    </section>
  </body>


  </body>
</html>
